/* CORPS **/

body {
	padding: 10px;
	background-color: #F2F1E9;
	font-family: regular;
}

hr {
	margin: 5px;
	color: #040316;
}


/* HEADER **/

header {
	display: flex;
	height: 50px;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: solid 2px #040316;
	margin-bottom: 20px;
}

/* MENU HEADER **/

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	box-shadow: 5px 0px 30px #040316;
	top: 0;
	left: 0;
	background-color: #F2F1E9;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	margin-right: 10px;
}

.profil {
	margin: 10px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #040316;
	display: block;
	transition: 0.3s;
}


.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 30px;
	cursor: pointer;
	color: #040316;
	border: none;
	padding: 10px 15px;
}

.sidenav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* MENU FILTRE **/

.input-filtre {
	border: solid 1px #040316;
	border-radius: 10px;
	padding: 5px;
	background-color: #F2F1E9;
}

.choose {
	padding: 5px;
	border-radius: 10px;
	background-color: #F2F1E9;
	border-color: #040316;
}

.filter-form {
	z-index: 10;
	top: 5vw;
	display: none;
	position: absolute;
	margin: 20px auto;
	padding: 20px;
	width: 60%;
	background-color: #F2F1E9;
	box-shadow: 0px 0px 15px #040316;
	border-radius: 10px;
}

.filter-form h3 {
	text-align: center;
}

.filter-form form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.filter-form label {
	font-size: 16px;
}

/*Slider**/

.slider-container {
	text-align: center;
}

.price-label {
	font-size: 10px;
	margin-bottom: 5px;
}

.slider {
	width: 100%;
	margin-bottom: 5px;
}

.range-values {
	display: flex;
	justify-content: space-between;
}

.range-value {
	font-size: 10px;
}


/* MAIN **/

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recherche {
	width: 80%;
	text-align: center;
	box-shadow: 0px 0px 15px #040316;
	border-radius: 10px;
	padding: 10px;
}

.recherche_top {
	display: flex;
	justify-content: space-around;
}

.input {
	border: none;
	background-color: #F2F1E9;
	width: 200px;
}

.button_1 {
	height: 30px;
	font-family: medium;
	width: 70%;
	background-color: #31CEA6;
	border: none;
	border-radius: 10px;
	color: #F2F1E9;
	font-size: 15px;

}

.button_2 {
	height: 30px;
    font-family: medium;
    width: 30%;
    display: flex;
    background-color: #31CEA6;
    border: none;
    border-radius: 10px;
    color: #F2F1E9;
    font-size: 15px;
    align-items: center;
    justify-content: center;
	text-decoration: none;

}


/* FOOTER **/

footer {
	padding-top: 10px;
	width: 100%;
	border-top: solid 2px #040316;
	margin-top: 20px;
}

.l_footer {
	display: flex;
	justify-content: space-around;
	font-size: 15px;
}

.list-footer {
	list-style-type: none;
	padding-left: 20px;
}

.text-footer {
	text-align: center;
}

@media (min-width : 800px) {
	.recherche {
		width: 40%;
	}

	.input {
		width: 400px;
	}

	.price-label {
		font-size: 15px;
	}

	.range-value {
		font-size: 15px;
	}
}


/* POLICE D'ECRITURE **/


h1 {
	font-size: 30px;
	font-weight: normal;
	margin: 10px;
}

h2 {
	font-size: 25px;
	font-weight: normal;
	margin: 10px;
}

h3 {
	font-size: 20px;
	text-decoration: underline;
	font-weight: normal;
	margin: 10px;
}

h4 {
	font-size: 20px;
	font-weight: normal;
	margin: 10px;
}

p {
	font-size: 15px;
}

@font-face {
	font-family: 'light';
	src: url('./font/montserrat-light-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'regular';
	src: url('./font/montserrat-regular-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'medium';
	src: url('./font/montserrat-medium-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'semibold';
	src: url('./font/montserrat-semibold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'bold';
	src: url('./font/montserrat-bold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'firasans';
	src: url('./font/firasans-regular-webfont.woff2') format('woff2');
}

/** BOUTON CREER UNE OFFRE */

.offer-btn {
	/*retirer le style par défaut : */
	background: none;
	border: none;
	display: flex;
	align-items: center;
	background-color: #F2F1E9;
	/* Couleur de fond du bouton */
	border: 2px solid #31CEA6;
	/* Bordure verte */
	border-radius: 20px;
	/* Coins arrondis */
	color: black;
	padding: 10px 20px;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	/* Légère ombre */
	transition: all 0.3s ease;
	margin-bottom: 20px;
	text-decoration: none;
}

.offer-btn .icon {
	display: inline-block;
	margin-right: 10px;
	background-color: white;
	color: #31CEA6;
	font-size: 18px;
	font-weight: bold;
	padding: 2px 7px;
	border: 2px solid #31CEA6;
	border-radius: 50%;
}

.offer-btn:hover {
	background-color: #F2F1E9;
	/* Couleur de fond au survol */
	box-shadow: 4px 4px 10px #040316;
	/* Ombre plus prononcée au survol */
}


/***** CREER_OFFRE.PHP *****/

.creer-offre-main {
	max-width: 360px;
	margin: 0 auto;
	padding: 20px;
	background-color: #F2F1E9;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 15px;
}

.category {
	background-color: #a3d1c5;
	color: #F2F1E9;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	font-size: 0.9em;
}

input[type="radio"]:checked+.category {
	background-color: #88b0a2;
}

input[type="radio"] {
	appearance: none;
	/* Cacher le style par défaut */
	-webkit-appearance: none;
	/* Pour les navigateurs WebKit */
}

input[type="radio"]+label {
	display: inline-block;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}

.category:hover {
	background-color: #88b0a2;
}

.price {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.price input {
	flex: 1;
}

.hours {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 15px;
}

.hours label {
	flex: 1;
}

.hours input {
	flex: 1;
}

.continuous {
	margin-bottom: 15px;
}

.image-upload {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 150px;
	background-color: #a3d1c5;
	border-radius: 5px;
	cursor: pointer;
}

.submit-btn {
	display: block;
	width: 100%;
	padding: 15px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.1em;
}

.submit-btn:hover {
	background-color: #555;
}

.type-offre-text {
	text-align: center;

}

.textarea-creer_offre {
	width: 90%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #040316;
	border-radius: 5px;
	font-size: 1em;
	resize: none;
}

.creer-offre-main h2 {
	margin-left: 0;
}

.zone-text {
	width: 90%;
	padding: 10px;
	border: 1px solid #040316;
	resize: none;
	border-radius: 5px;

}

.zone-date {
	width: 30%;
	padding: 10px;
	border: 1px solid #040316;
	resize: none;
	border-radius: 5px;
}

.zone-number {
	width: 50%;
	padding: 10px;
	border: 1px solid #040316;
	resize: none;
	border-radius: 5px;
}

.tags {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	width: 100%;
	gap: 10px;
	padding: 10px;
}

.tags label {
	display: flex;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
}

.tags input[type="checkbox"] {
	margin-right: 8px;
}

.langues {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 10px;
	padding: 10px;
}

.langues label {
	display: flex;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
}

.langues input[type="checkbox"] {
	margin-right: 8px;
}

.tags input[type="checkbox"] {
	appearance: none;
	/* Retire le style par défaut de la checkbox */
	width: 20px;
	height: 20px;
	border: 2px solid #27772e;
	/* Vert de base */
	border-radius: 4px;
	background-color: white;
	cursor: pointer;
	position: relative;
}

.tags input[type="checkbox"]:checked {
	background-color: #1f8a70;
	/* Vert plus foncé lorsqu'il est sélectionné */
	border-color: #146a51;
}

.tags input[type="checkbox"]::after {
	content: '';
	position: absolute;
	display: none;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
}

.tags input[type="checkbox"]:checked::after {
	display: block;
	/* Montre la coche lorsqu'il est sélectionné */
}


.langues input[type="checkbox"] {
	appearance: none;
	/* Retire le style par défaut de la checkbox */
	width: 20px;
	height: 20px;
	border: 2px solid #a3d1c5;
	/* Vert de base */
	border-radius: 4px;
	background-color: white;
	cursor: pointer;
	position: relative;
}

.langues input[type="checkbox"]:checked {
	background-color: #88b0a2;
	/* Vert plus foncé lorsqu'il est sélectionné */
	border-color: #88b0a2;
}

.langues input[type="checkbox"]::after {
	content: '';
	position: absolute;
	display: none;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
}

.langues input[type="checkbox"]:checked::after {
	display: block;
	/* Montre la coche lorsqu'il est sélectionné */
}


.visite {
	appearance: none;
	/* Retire le style par défaut du bouton radio */
	width: 20px;
	height: 20px;
	border: 2px solid #1f8a70;
	/* Bordure verte de base */
	border-radius: 50%;
	/* Pour que le bouton soit rond */
	background-color: white;
	cursor: pointer;
	position: relative;
}

.visite:checked {
	background-color: #1f8a70;
	/* Fond vert plus foncé lorsqu'il est sélectionné */
	border-color: #146a51;
}

.visite::after {
	content: '';
	position: absolute;
	display: none;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.visite:checked::after {
	display: block;
	/* Affiche le point blanc lorsqu'il est sélectionné */
}

/** CONNEXION PRO */

/*Corps de la page*/
body.cp_mobile {
	display: flex;
	/* Utiliser Flexbox */
	flex-direction: column;
	/* Aligne les enfants en colonne */
	justify-content: center;
	/* Centre verticalement */
	align-items: center;
	/* Centre horizontalement */
	/* Prend toute la hauteur de la fenêtre */
	background-color: #F2F1E9;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

/*Grand titre*/
h1.cp_mobile {
	font-style: italic;
	font-weight: lighter;
	font-size: 30px;
}

/*Formulaire*/
form.cp_mobile {
	display: flex;
	/* Utiliser Flexbox */
	flex-direction: column;
	/* Aligne les enfants en colonne */
	justify-content: center;
	/* Centre verticalement */
	align-items: center;
	/* Centre horizontalement */
}

/*Section regroupant les champs de saisie*/
section.cp_mobile {
	margin-top: 20px;
	margin-bottom: 10px;
}

/* Champs de saisie*/
section.cp_mobile input.cp_mobile {
	height: 42px;
	width: 312px;
	border-color: #040316;
	background-color: #F2F1E9;
	border-radius: 10px;
	text-align: center;
	font-size: 14px;
}

/*Case à cocher*/
.cp_mobile_chkbox {
	width: 20px;
	/* Largeur de la checkbox */
	height: 20px;
	/* Hauteur de la checkbox */
}

/*Bouton submit*/
.cp_mobile_btn {
	width: 294px;
	height: 56px;
	border-radius: 20px;
	border-color: #040316;
	background-color: #F2F1E9;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	/* Ombre */
	margin: 30px 40px 40px 40px;
	font-size: 20px;
}

/*Bouton submit au survol*/
.cp_mobile_btn:hover {
	background-color: #040316;
	color: #F2F1E9;
}

/*Liens hypertextes*/
a.cp_mobile {
	text-decoration: none;
	color: #040316;
}

/*Messages d'erreurs rouges pastels*/
p.cp_mobile_erreur {
	color: red;
	font-size: 14px;
	font-weight: bold;
}


/** PAGE DETAIL OFFRE*/

.article-detail {
	text-align: center;
}

.article-detail h1 {
	font-size: 1.5em;
}

.rating {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rating span {
	font-size: 1.5em;
}

.rating p {
	margin-left: 10px;
}

.report {
	margin-left: 10px;
	color: red;
	text-decoration: none;
}

.image-gallery {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.image-gallery img {
	width: 30%;
	border-radius: 5px;
}

.details {
	margin-top: 20px;
}

.details h2 {
	font-size: 1.2em;
}

.map {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.map img {
	width: 40%;
}

.opening-hours {
	width: 50%;
	text-align: right;
}

.pricing {
	margin-top: 20px;
}

.pricing table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
}

.pricing th,
.pricing td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

.button-detail {
	display: block;
	width: 100%;
	background-color: green;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
}

.button-detail:hover {
	background-color: darkgreen;
}

.reviews {
	margin-top: 20px;
}

.review-summary {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.review {
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

/* Media query for mobile screens */
@media (max-width: 360px) {
	.body-detail {
		padding: 10px;
	}

	.image-gallery {
		flex-direction: column;
		align-items: center;
	}

	.image-gallery img {
		width: 100%;
		margin-bottom: 10px;
	}

	.map {
		flex-direction: column;
	}

	.map img,
	.opening-hours {
		width: 100%;
		text-align: center;
	}

	.pricing table,
	.pricing button {
		width: 100%;
	}

	.review-summary {
		flex-direction: column;
		align-items: center;
	}
}

/* STYLE OFFRE */

/* Conteneur principal pour toutes les offres */
.offres-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
	padding: 20px;
	width: 100%;
	align-items: center;
}

/* Style de la carte de chaque offre */
.offre-card {
	display: flex;
	flex-direction: column;
	width: 320px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	margin: 10px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
}

.offre-card:hover {
	transform: scale(1.05);
}

.offre-hors-ligne {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: #EAE9FC;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
}

.bouton-modifier-offre {
	background-color: #31CEA6;
	color: #F2F1E9;
	border: none;
	border-radius: 10px;
	padding: 10px;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	margin-bottom: 20px;
	text-decoration: none;
}

.bouton-supprimer-offre {
	background-color: #FF0000;
	color: #F2F1E9;
	border: none;
	border-radius: 10px;
	padding: 10px;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	margin-bottom: 20px;
	text-decoration: none;
}

/* Conteneur de l'image de l'offre */
/* .offre-image-container {
	width: 100%;
	height: 200px;
	overflow: hidden;
} */

.offre-image {
	height: 300px;
	border-radius: 20px;
}

/* Grille tarifaire */
section.details_offre_mobile_tarifs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

section.details_offre_mobile_tarifs table {
	width: 100%;
	margin: auto;
	border-collapse: collapse;
	background-color: #36D673;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	text-align: center;
}

section.details_offre_mobile_tarifs th,
td {
	padding: 12px;
	border: 1px solid #F2F1E9;
}

/* Style des informations de l'offre */
.offre-details {
	padding: 15px;
	text-align: left;
}

.offre-titre {
	font-size: 1.2em;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
	margin-left: 0;
}

.offre-resume {
	font-size: 1em;
	color: #666;
	margin-bottom: 10px;
}

.offre-prix {
	font-size: 1.2em;
	color: #27ae60;
	font-weight: bold;
}

.offres-display {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
	justify-content: center;
	padding: 20px 0;
	flex-wrap: wrap;
}

/* Media query pour les écrans de plus de 800px */
@media (min-width: 800px) {
	.offres-display {
		justify-content: left;
	}
}

.details_offre_mobile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.details_offre_mobile table {
	width: 100%;
	max-width: 600px; /* Largeur maximale de la table */
	margin: auto;
	border-collapse: collapse;
	background-color: #F2F1E9;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	text-align: center;
	border: #36D673;
	border-radius: 2px;
	table-layout: fixed;
}

.details_offre_mobile td, .details_offre_mobile th {
	padding: 10px;
	border-right: 2px solid #36D673; /* Couleur de la ligne de séparation */
}

.details_offre_mobile td:last-child, .details_offre_mobile th:last-child {
	border-right: none; /* Supprime la ligne de séparation pour la dernière colonne */
}

.details_offre_mobile td {
	white-space: nowrap; 
}

.adresse-detail {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.offre-resume-detail {
	font-size: 16px;
	color: #040316;
	margin-bottom: 10px;
}

.detail-btn-container {
    text-align: center; /* Centre le contenu du conteneur */
    margin: 20px 0; /* Ajoute un peu d'espace en haut et en bas */
}

.detail-offer-btn {
    background-color: #36D673;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.detail-offer-btn:hover {
    background-color: #2bb85f; /* Changement de couleur au survol */
}






/*** DROPDOWN ***/
/* Assure-toi que le parent a une position relative */
.dropdown {
    position: relative;
    width: 70%;
}

/* Style du bouton du dropdown */
.dropdown-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #040316;
    border-radius: 10px;
    background-color: #F2F1E9;
    color: #040316;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-align: center; /* Aligner le texte à gauche */
}

/* Style du menu déroulant */
.dropdown-content {
    display: none;
    position: absolute; /* position absolue pour se positionner par rapport au parent */
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    z-index: 1; /* on augmente le z-index pour s'assurer qu'il soit au-dessus des autres éléments de la page*/
    border-radius: 5px;
    text-align: left; /* Aligner les options à gauche */
	transition: opacity 0.3s ease, transform 5s ease;
}

/* Style des options du menu déroulant */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 16px;
    background-color: white;
    border-bottom: 1px solid white;
    text-align: left; /* Aligner les textes des options à gauche */
}

/* Style au survol des options */
.dropdown-content a:hover {
	color: #31CEA6;
	font-size: large;
}

/* Effet de survol sur le bouton */
.dropdown:hover .dropdown-btn {
    border-color: #31CEA6;
    background-color: white; /* Changement de couleur de fond */
    outline: none;
}

/*Page création compte pro*/

/* Global body styles */
.body-creer-pro {
    font-family: Arial, sans-serif;
    background-color: #f5f5e9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px; /* Augmenté pour un espacement plus confortable */
}

/* Form container styles */
.form-container {
    width: 100%;
    max-width: 600px; /* Augmenté pour plus de largeur */
    background-color: #f5f5e9;
    text-align: center;
}

.form-container h1 {
    font-size: 2em; /* Augmenté pour une meilleure visibilité */
    margin-bottom: 20px;
}

.form-container label{
	font-size: 1.2em;
	margin-left: 10px;
}

.subtitle {
    font-style: italic;
    color: #666;
    margin-bottom: 30px;
    font-size: 1.2em; /* Agrandi */
}

.form-section h2 {
    font-size: 1.5em; /* Augmenté */
    margin-bottom: 25px;
    text-align: left;
}

.form-creer-pro {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Augmenté pour espacer les champs */
}

/* Input group styles */
.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    padding: 15px; /* Agrandi */
    border: 1px solid #ccc;
    border-radius: 8px; /* Plus arrondi */
    font-size: 1.2em; /* Augmenté pour des champs plus grands */
    color: #333;
}

.input-container input::placeholder {
    color: #aaa;
}

.input-container .required {
    position: absolute;
    top: 30%;
	right: 1px;
    transform: translateY(-50%);
    color: #4CAF50;
    font-size: 1.5em; /* Agrandi */
    font-weight: bold;
}

/*Pour Etape 2*/
.input-container2 {
    position: relative;
}

.input-container2 input {
    width: 95%;
	margin-right: 7em;
    padding: 15px; /* Agrandi */
    border: 1px solid #ccc;
    border-radius: 8px; /* Plus arrondi */
    font-size: 1.2em; /* Augmenté pour des champs plus grands */
    color: #333;
}

.input-container2 input::placeholder {
    color: #aaa;
}

.input-container2 .required {
    position: absolute;
    top: 30%;
	right: 1px;
    transform: translateY(-50%);
    color: #4CAF50;
    font-size: 1.5em; /* Agrandi */
	font-weight: bold;
}

/* Input row styles */
.input-row {
    display: flex;
    gap: 40px; /* Augmenté pour espacer les colonnes */
}

.input-row .input-group {
    flex: 1;
}

/* Container pour les boutons radio */
.input-row2 {
    display: flex;
    gap: 20px; /* Espacement entre les options */
	justify-content: center;
}

/* Styles pour le label contenant le bouton radio */
.input-row2 label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    color: #333;
	margin-top: 1em;
}

/* Effet au survol */
.input-row2 label:hover {
    background-color: #e0e0e0;
    border-color: #4CAF50;
}

/* Cacher l'input radio */
.input-row2 input[type="radio"] {
    display: none;
}

/* Style pour le bouton sélectionné */
.input-row2 input[type="radio"]:checked + label {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.warning {
    background-color: #fffbcc;
    border: 1px solid #ffeb3b;
	padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    color: #555;
	margin-left: 1em;
}


/* Button styles */
.submit-btn {
    border-color: #040316;
    color: black;
    font-size: 1.2em; /* Augmenté */
    padding: 15px; /* Agrandi */
	margin-left: 30px;
    margin-top: 15px;
	width: 90%;
	border-radius: 20px;
	background-color: #F2F1E9;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	/* Ombre */
	font-size: 20px;
}

.submit-btn:hover {
	background-color: #040316;
	color: #F2F1E9;
}

.submit-btn2 {
    border-color: #040316;
    color: black;
    font-size: 1.2em; /* Augmenté */
    padding: 15px; /* Agrandi */
	margin-left: 5px;
    margin-top: 15px;
	width: 90%;
	border-radius: 20px;
	background-color: #F2F1E9;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	/* Ombre */
	font-size: 20px;
}

.submit-btn2:hover {
	background-color: #040316;
	color: #F2F1E9;
}
.valide-groupe{
	background-color: #4CAF50;
	border-radius: 20px;
	margin-right: 20px;
	width: 105%;
}

.valide-groupe2{
	background-color: #4CAF50;
	border-radius: 20px;
	width: 102%;
}
.error {
	color: #FF0000;
}

.confirmation {
    background-color: #baf3c1;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.terms {
    font-size: 0.9em;
    color: #040316;
    text-align: center;
}

.terms ul {
	list-style-type: none;
    list-style: disc;
    margin-left: 20px;
}

.terms li{
	color: #040316;
	list-style-type: none;
}

/* Almost done text */
.almost-done {
    margin-top: 15px;
	margin-left: 20px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

/* Back arrow styles */
.back-arrow {
    position: absolute;
    top: 20px; /* Ajusté */
    left: 20px; /* Ajusté */
    z-index: 100;
}

.back-arrow a {
    text-decoration: none;
    font-size: 35px; /* Augmenté pour une flèche plus grande */
    color: #040316;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 600px) {
    .form-container {
        padding: 20px;
    }

    .input-row {
        flex-direction: column;
        gap: 20px;
    }

    .submit-btn {
        font-size: 1em; /* Réduit légèrement pour s'adapter */
    }
}

/* fin page creer pro*/

.add-avis-btn{
	display: flex;
	width: 80%;
	justify-content: center;
	border: #31CEA6 solid 2px;
	border-radius: 10px;
}

.add-avis-btn:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.add-avis-btn img{
	padding: 10px 0 10px 0;
	width: 30px;
	height: 30px;
	transition: fill 3s ease; /* Transition douce */
}

#map {
	width: 100%; /* Largeur de la carte */
	height: 250px;
}

.container-details-offre {
	display: flex;
	flex-direction: row;
	gap: 20px;
}


.details-offre {
	flex: 3; /* Partie des détails de l'offre */
	padding-left : 200px;
	padding: 10px;
}

.avis-container{
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	width: 130%; /* Ajustez à la taille désirée */
	margin: 0 auto;
}

.avis-offre {
	flex: 1; /* Partie des avis */
	padding: 20px;
	border-left: 1px solid #ccc; /* Ligne séparatrice */
}

.avis{
	border: 1px solid #ccc;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.avis_m{
	border: 1px solid #31CEA6;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.pdp-name-date {
	display: flex;
	align-items: center;
}

.pdp-name-date strong {
	margin-left : 10px;
}

.pdp-avis{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.titre-moy {
	display: flex;
	width: 200%;
	gap : 3.5px;
	padding-left: 10px;
}

.titre-moy p {
	position: relative;
	left: 5px;
	top: -10px; /* Ajuste cette valeur pour peaufiner l'alignement */
}

.titre-moy-index {
	display: flex;
	width: 200%;
	gap : 3.5px;
	padding-left: -10px;
}

.titre-moy-index p {
	position: relative;
	top: -10px; /* Ajuste cette valeur pour peaufiner l'alignement */
	color: #040316;
}

@font-face {
	font-family: 'firasans';
	src: url('./font/firasans-regular-webfont.woff2') format('woff2');
}

.img-aj-avis {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.nom-aj-avis{
	margin-left: 20px;
	font-size: 2em;
}

.add-avis-form{
	display: block;
}