/* Constantes pour les couleurs */
:root {
	--color-background: #F2F1E9;
	--color-text: #040316;
	--color-primary: #31CEA6;
	--color-primary-hover: #1f8a70;
	--color-accent: #4CAF50;
	--color-accent-hover: #2bb85f;
	--color-delete: #FF0000;
	--color-delete-hover: #af0000;
	--color-border: #333;
	--color-primary-pro: #f5bc42;
	--color-accent-pro:#f58142;
	--color-primary-hover-pro:#be8c2e;
	--color-accent-hover-pro: #eb9834;
}

/* CORPS **/


body {
	
	background-color: var(--color-background);
	font-family: regular;
	overflow-x: hidden;
}

hr {
	margin: 5px;
	color: var(--color-text);
}


/* HEADER **/

header {
	display: flex;
	height: 50px;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: solid 2px #040316;
	margin-bottom: 20px;
}

/* MENU HEADER **/

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 20;
	box-shadow: 5px 0px 30px #040316;
	top: 0;
	left: 0;
	background-color: var(--color-background);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	margin-right: 10px;
}

.profil {
	margin: 10px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #040316;
	display: block;
	transition: 0.3s;
}


.sidenav .closebtn {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 30px;
	cursor: pointer;
	color: #040316;
	border: none;
	padding: 10px 15px;
}

.sidenav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* HEADER NOTIFICATIONS */

.header_partie_notif{
	display: flex;
	flex-direction: row;
	margin: 15px;
	margin-left: 0px;
}

.notif_surmodal{
	border-radius: 50px;
	max-height:600px;
	overflow: hidden;
}

.notif_modal {
	display: none;
	position: absolute;
	z-index: 1;
}

.notif_modal-content {
	background-color: #F2F1E9;
	border: 1px solid #888;
	padding: 20px;
	width: 500px;
	border-radius: 50px;
	max-height: 600px;
	overflow-y: auto;
}

.notif_close {
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.notif_close:hover,
.notif_close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.notif_comment{
	margin-left: 10px;
	background-color: #f5bc42;
	border-radius: 10px;
	padding: 10px;
	word-wrap: break-word;
	
}

/* MENU FILTRE **/

.input-filtre {
	border: solid 1px #040316;
	border-radius: 10px;
	padding: 5px;
	background-color: var(--color-background);
}

.choose {
	padding: 5px;
	border-radius: 10px;
	background-color: var(--color-background);
	border-color: #040316;
}

.choosecat{
	padding: 5px;
	border-radius: 10px;
	background-color: var(--color-background);
	border-color: #040316;
	width: 34.65vw;

}

.filter-form {
	z-index: 20;
	top: 5vw;
	display: none;
	position: absolute;
	margin: 20px auto;
	padding: 20px;
	width: 35%;
	background-color: var(--color-background);
	box-shadow: 0px 0px 15px #040316;
	border-radius: 10px;
}

.filter-form h3 {
	text-decoration: none;
	text-align: center;
}

.filter-form form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.filter-form label {
	font-size: 16px;
}

/*Slider**/

.slider-container {
	text-align: center;
}

.price-label {
	font-size: 10px;
	margin-bottom: 5px;
}

.slider {
	width: 100%;
	margin-bottom: 5px;
}

.range-values {
	display: flex;
	justify-content: space-between;
}

.range-value {
	font-size: 10px;
}


/* MAIN **/

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recherche {
	width: 80%;
	text-align: center;
	box-shadow: 0px 0px 15px #040316;
	border-radius: 10px;
	padding: 10px;
}

.recherche_top {
	display: flex;
	justify-content: space-around;
}

.input {
	border: none;
	background-color: var(--color-background);
	width: 200px;
}

button {
	all: unset;
}

.button_1 {
	height: 30px;
	font-family: medium;
	width: 70%;
	background-color: var(--color-primary);
	border: none;
	border-radius: 10px;
	color: var(--color-background);
	font-size: 15px;

}

.button_1.professionnel {
	background-color: var(--color-primary-pro);
}

.button_2 {
	height: 30px;
    font-family: medium;
    width: 30%;
    display: flex;
    background-color: var(--color-primary);
    border: none;
    border-radius: 10px;
    color: var(--color-background);
    font-size: 15px;
    align-items: center;
    justify-content: center;
	text-decoration: none;
}

.button_2.professionnel{
	background-color: var(--color-primary-pro);
}

/* FOOTER **/

footer {
	padding-top: 10px;
	width: 100%;
	border-top: solid 2px #040316;
	margin-top: 20px;
}

.l_footer {
	display: flex;
	justify-content: space-around;
	font-size: 15px;
}

.list-footer {
	list-style-type: none;
	padding-left: 20px;
}

.list-footer li {
	margin-bottom: 0.5em;
}

.list-footer li a {
	text-decoration: none;
	color: var(--color-text);
}

.text-footer {
	text-align: center;
}

@media (min-width : 800px) {
	.recherche {
		width: 40%;
	}

	.input {
		width: 400px;
	}

	.price-label {
		font-size: 15px;
	}

	.range-value {
		font-size: 15px;
	}
}


/* POLICE D'ECRITURE **/


h1 {
	font-size: 30px;
	font-weight: normal;
	margin: 10px;
}

h2 {
	font-size: 25px;
	font-weight: normal;
	margin: 10px;
}

h3 {
	font-size: 20px;
	text-decoration: underline;
	font-weight: normal;
	margin: 10px;
	text-decoration: none;
}

h4 {
	font-size: 20px;
	font-weight: normal;
	margin: 10px;
}

p {
	font-size: 15px;
}

@font-face {
	font-family: 'light';
	src: url('./font/montserrat-light-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'regular';
	src: url('./font/montserrat-regular-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'medium';
	src: url('./font/montserrat-medium-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'semibold';
	src: url('./font/montserrat-semibold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'bold';
	src: url('./font/montserrat-bold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'firasans';
	src: url('./font/firasans-regular-webfont.woff2') format('woff2');
}

/** BOUTON CREER UNE OFFRE */

.offer-btn {
	/*retirer le style par défaut : */
	background: none;
	border: none;
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;;

	display: flex;
	align-items: center;
	background-color: var(--color-background); /* Couleur de fond du bouton */
	border: 2px solid var(--color-primary); /* Bordure verte */
	border-radius: 20px; /* Coins arrondis */
	color: black;
	padding: 10px 20px;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Légère ombre */
	transition: all 0.3s ease;
	margin-bottom: 20px;
	text-decoration: none;
}

.offer-btn.professionnel{
	border: 2px solid var(--color-primary-pro); /* Bordure verte */

}

.offer-btn .icon {
	display: inline-block;
	margin-right: 10px;
	background-color: white;
	color: var(--color-primary);
	font-size: 18px;
	font-weight: bold;
	padding: 2px 7px;
	border: 2px solid var(--color-primary);
	border-radius: 50%;
}

.offer-btn .icon.professionnel {
	color: var(--color-primary-pro);
	border: 2px solid var(--color-primary-pro);

}

.offer-btn:hover {
	background-color: var(--color-background); /* Couleur de fond au survol */
	box-shadow: 4px 4px 10px #040316; /* Ombre plus prononcée au survol */
}


/***** CREER_OFFRE.PHP *****/

.creer-offre-main {
	max-width: 700px;
	margin: 0 auto;
	padding: 20px;
	background-color: var(--color-background);
	border: 1px solid #ccc;
	border-radius: 10px;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 15px;
}

.category {
	background-color: #a3d1c5;
	color: var(--color-background);
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	font-size: 0.9em;
}

input[type="radio"]:checked+.category {
	background-color: var(--color-primary-pro);
}

input[type="radio"] {
	appearance: none;
	/* Cacher le style par défaut */
	-webkit-appearance: none;
	/* Pour les navigateurs WebKit */
}

input[type="radio"]+label {
	display: inline-block;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}

.category:hover {
	background-color: var(--color-primary-pro);
}

.price {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	width: 93%;
}

.price input {
	flex: 1;
}

.horaires-semaine input {
	justify-content: space-between;
}

.type-offre{
	display: flex;
}

.type_offre {
	text-align: center;
}

.input-row-offre {
	display: flex;
	gap: 40px; /* Augmenté pour espacer les colonnes */
	justify-content: center;
}

.input-row-offre3 {
	display: flex;
	gap: 40px; /* Augmenté pour espacer les colonnes */
	justify-content: center;
	width: 90%;
	align-items: center;

}

.container-offre {
	position: relative;
}

.container-offre input, .textarea-creer_offre, .dropdown-creer_offre {
    width: 100%;
    padding: 15px; /* Agrandi */
    border: 1px solid #040316;
    border-radius: 8px; /* Plus arrondi */
    color: #333;
	margin-right: 8em;
}

.hours {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 15px;
}

.hours label {
	flex: 1;
}

.hours input {
	flex: 1;
}

.continuous {
	margin-bottom: 15px;
}

.image-upload {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 150px;
	background-color: var(--color-primary-pro);
	border-radius: 5px;
	cursor: pointer;
}

.submit-btn {
	display: block;
	width: 100%;
	padding: 15px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1.1em;
}

.submit-btn:hover {
	background-color: #555;
}

.type-offre-text {
	text-align: center;

}

.textarea-creer_offre {
	width: 90%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #040316;
	border-radius: 5px;
	font-size: 1em;
	resize: none;
	font-family: 'Montserrat', sans-serif;
}

.dropdown-creer_offre{
	display: flex;
	justify-content: center;
	background-color: white;
	font-size: 1em;
	margin-bottom: 15px;
	width: 111%;
}

.creer-offre-main h2 {
	margin-left: 0;
}

.zone-text {
	width: 90%;
	padding: 10px;
	border: 1px solid #040316;
	resize: none;
	border-radius: 5px;

}

.zone-date {
	width: 30%;
	padding: 10px;
	border: 1px solid #040316;
	resize: none;
	border-radius: 5px;
}

.zone-number {
	width: 50%;
	padding: 10px;
	border: 1px solid #040316;
	resize: none;
	border-radius: 5px;
}

.tags {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	width: 100%;
	gap: 10px;
	padding: 10px;
}

.tags label {
	display: flex;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
}

.tags input[type="checkbox"] {
	margin-right: 8px;
}

.langues {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 10px;
	padding: 10px;
}

.langues label {
	display: flex;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
}

.langues input[type="checkbox"] {
	margin-right: 8px;
}

.tags input[type="checkbox"] {
	appearance: none;
	/* Retire le style par défaut de la checkbox */
	width: 20px;
	height: 20px;
	border: 2px solid var(--color-primary-pro);
	/* Vert de base */
	border-radius: 4px;
	background-color: white;
	cursor: pointer;
	position: relative;
}

.tags input[type="checkbox"]:checked {
	background-color: var(--color-primary-hover-pro);
	/* Vert plus foncé lorsqu'il est sélectionné */
	border-color: var(--color-primary-pro);
}

.tags input[type="checkbox"]::after {
	content: '';
	position: absolute;
	display: none;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
}

.tags input[type="checkbox"]:checked::after {
	display: block;
	/* Montre la coche lorsqu'il est sélectionné */
}

.checkbox-member input[type="checkbox"] {
	appearance: none;
	/* Retire le style par défaut de la checkbox */
	width: 20px;
	height: 20px;
	border: 2px solid var(--color-primary);
	/* Vert de base */
	border-radius: 4px;
	background-color: white;
	cursor: pointer;
	position: relative;
}

.checkbox-member input[type="checkbox"]:checked {
	background-color: var(--color-primary-hover);
	/* Vert plus foncé lorsqu'il est sélectionné */
	border-color: var(--color-primary);
}

.checkbox-member input[type="checkbox"]::after {
	content: '';
	position: absolute;
	display: none;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
}

.checkbox-member input[type="checkbox"]:checked::after {
	display: block;
	/* Montre la coche lorsqu'il est sélectionné */
}


.langues input[type="checkbox"] {
	appearance: none;
	/* Retire le style par défaut de la checkbox */
	width: 20px;
	height: 20px;
	border: 2px solid var(--color-primary-pro);
	/* Vert de base */
	border-radius: 4px;
	background-color: white;
	cursor: pointer;
	position: relative;
}

.langues input[type="checkbox"]:checked {
	background-color: var(--color-accent-hover-pro);
	/* Vert plus foncé lorsqu'il est sélectionné */
	border-color: var(--color-accent-pro);
}

.langues input[type="checkbox"]::after {
	content: '';
	position: absolute;
	display: none;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
}

.langues input[type="checkbox"]:checked::after {
	display: block;
	/* Montre la coche lorsqu'il est sélectionné */
}


.visite {
	appearance: none;
	/* Retire le style par défaut du bouton radio */
	width: 20px;
	height: 20px;
	border: 2px solid var(--color-primary-hover-pro);
	/* Bordure verte de base */
	border-radius: 50%;
	/* Pour que le bouton soit rond */
	background-color: white;
	cursor: pointer;
	position: relative;
}

.visite:checked {
	background-color: var(--color-primary-hover-pro);
	/* Fond vert plus foncé lorsqu'il est sélectionné */
	border-color: var(--color-accent-pro);
}

.visite::after {
	content: '';
	position: absolute;
	display: none;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.visite:checked::after {
	display: block;
	/* Affiche le point blanc lorsqu'il est sélectionné */
}

/** CONNEXION PRO */

/*Corps de la page*/
body.cp_mobile {
	display: flex;
	/* Utiliser Flexbox */
	flex-direction: column;
	/* Aligne les enfants en colonne */
	justify-content: center;
	/* Centre verticalement */
	align-items: center;
	/* Centre horizontalement */
	/* Prend toute la hauteur de la fenêtre */
	min-height: 100vh;
	background-color: var(--color-background);
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

/*Grand titre*/
h1.cp_mobile {
	font-style: italic;
	font-weight: lighter;
	font-size: 30px;
}

/*Formulaire*/
form.cp_mobile {
	display: flex;
	/* Utiliser Flexbox */
	flex-direction: column;
	/* Aligne les enfants en colonne */
	justify-content: center;
	/* Centre verticalement */
	align-items: center;
	width: 100%;
	/* Centre horizontalement */
}

/*Section regroupant les champs de saisie*/
section.cp_mobile {
	margin-top: 20px;
	margin-bottom: 10px;
}

/* Champs de saisie*/
section.cp_mobile input.cp_mobile {
	height: 42px;
	width: 312px;
	border-color: #040316;
	background-color: var(--color-background);
	border-radius: 10px;
	text-align: center;
	font-size: 14px;
}

/*Case à cocher*/
.cp_mobile_chkbox {
	width: 20px;
	/* Largeur de la checkbox */
	height: 20px;
	/* Hauteur de la checkbox */
}

/*Bouton submit*/
.cp_mobile_btn {
	width: 294px;
	height: 56px;
	border-radius: 20px;
	border-color: #040316;
	background-color: var(--color-background);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	/* Ombre */
	margin: 0px 40px 40px 40px;
	font-size: 20px;
	cursor:pointer;
}

/*Bouton submit au survol*/
.cp_mobile_btn:hover {
	background-color: #040316;
	color: var(--color-background);
}

/*Liens hypertextes*/
a.cp_mobile {
	text-decoration: none;
	color: #040316;
}

/*Messages d'erreurs rouges pastels*/
p.cp_mobile_erreur {
	color: red;
	font-size: 14px;
	font-weight: bold;
}


/** PAGE DETAIL OFFRE*/

.article-detail {
	text-align: center;
}

.article-detail h1 {
	font-size: 1.5em;
}

.rating {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rating span {
	font-size: 1.5em;
}

.rating p {
	margin-left: 10px;
}

.report {
	margin-left: 10px;
	color: red;
	text-decoration: none;
}

.image-gallery {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.image-gallery img {
	width: 30%;
	border-radius: 5px;
}

.details {
	margin-top: 20px;
}

.details h2 {
	font-size: 1.2em;
}

.map {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.map img {
	width: 40%;
}

.opening-hours {
	width: 50%;
	text-align: right;
}

.pricing {
	margin-top: 20px;
}

.pricing table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
}

.pricing th,
.pricing td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

.button-detail {
	display: block;
	width: 100%;
	background-color: green;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
}

.button-detail:hover {
	background-color: darkgreen;
}

.reviews {
	margin-top: 20px;
}

.review-summary {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.review {
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
/* Styles généraux pour les petits écrans */
@media (max-width: 480px) {
    .container-details-offre {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
		flex-wrap: wrap;
    }

    .details-offre {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 0; /* Supprime le padding gauche */
        order: 1; /* Place les détails de l'offre en premier */
    }

    .offre-detail-container {
        width: 100%;
    }

    .offre-image-container img {
        width: 100%;
        height: auto;
    }

    .offre-description {
        padding: 10px;
    }

    .details_offre_mobile_tarifs,
    .details_offre_mobile {
        width: 100%;
        margin-bottom: 20px;
    }

    .details_offre_mobile table,
    .details_offre_mobile_tarifs table {
        width: 100%;
    }

    .detail-btn-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .detail-offer-btn {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    .avis-offre {
        width: 100%;
        margin-top: 20px;
        order: 2; /* Place les avis en dernier */
    }

    .avis-container {
        width: 100%;
    }

    .avis,
    .avis_m {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .avis_stars_score img {
        width: 16px;
        height: 16px;
    }

    .avis_stars_score p {
        font-size: 14px;
    }

    .scorePouce a {
        font-size: 14px;
    }

    .boutons-bas-offre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boutons-bas-offre a,
    .boutons-bas-offre button {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
}
/* Media query for mobile screens */
@media (max-width: 360px) {
	.body-detail {
		padding: 10px;
	}

	.image-gallery {
		flex-direction: column;
		align-items: center;
	}

	.image-gallery img {
		width: 100%;
		margin-bottom: 10px;
	}

	.map {
		flex-direction: column;
	}

	.map img,
	.opening-hours {
		width: 100%;
		text-align: center;
	}

	.pricing table,
	.pricing button {
		width: 100%;
	}

	.review-summary {
		flex-direction: column;
		align-items: center;
	}
}

/* STYLE OFFRE */

/* Conteneur principal pour toutes les offres */
.offres-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	width: 100%;
	align-items: center;
}

/* Style de la carte de chaque offre */
.offre-card {
	display: flex;
	flex-direction: column;
	width: 330px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	margin:10px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
	flex-shrink: 0;
}


.offre-card:hover {
	transform: scale(1.05);
}

.offre-hors-ligne {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: #EAE9FC;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
}

.bouton-modifier-offre {
	background-color: var(--color-primary);
	color: var(--color-background);
	border: none;
	border-radius: 10px;
	padding: 10px;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	margin-bottom: 20px;
	text-decoration: none;
}

.bouton-modifier-offre.professionnel {
	background-color: var(--color-primary-pro);
}

.bouton-modifier-offre:hover {
	background-color: var(--color-primary-hover);
}

.bouton-modifier-offre.professionnel:hover {
	background-color: var(--color-primary-hover-pro);
}

.bouton-supprimer-offre {
	background-color: var(--color-delete);
	color: var(--color-background);
	border: none;
	border-radius: 10px;
	padding: 10px;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	margin-bottom: 20px;
	text-decoration: none;
}

.bouton-supprimer-offre:hover {
	background-color: var(--color-delete-hover);
}

/* Conteneur de l'image de l'offre */
 .offre-image-container {
	overflow: hidden;
	margin: 10px;
} 

.offre-image {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
}

.details-offre-image {
	width: 700px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
}

/* Grille tarifaire */
section.details_offre_mobile_tarifs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

section.details_offre_mobile_tarifs table {
	width: 30%;
	margin: auto;
	border-collapse: collapse;
	background-color: var(--color-accent);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	text-align: center;
}

section.details_offre_mobile_tarifs.professionnel table{
	background-color: var(--color-primary-pro);
}

section.details_offre_mobile_tarifs th,
td {
	padding: 12px;
	border: 1px solid var(--color-background);
}

/* Style des informations de l'offre */
.offre-details {
	padding: 15px;
	text-align: left;
}

.offre-titre {
	font-size: 2em;
	font-weight: bold;
	color: var(--color-text);
	margin-bottom: 20px;
	text-align: center;
}
.offre-resume-detail.professionnel {
	color: var(--color-primary-pro);
}
.offre-titre-index{
	font-size: 1em;
	font-weight: bold;
	color: var(--color-text);
	margin-bottom: 20px;
	text-align: left;
}

.offre-resume {
	font-size: 1em;
	color: #666;
	margin-bottom: 10px;
	height: 48px;
}

.offre-prix {
	font-size: 1.2em;
	color: var(--color-primary);
	font-weight: bold;
}

.offre-prix.professionnel {
	color: var(--color-primary-pro);
}

.offres-display {
	width: 100%;
	display: flex;
	flex-direction: row;
    align-items: flex-start;
	margin: 10px;
	justify-content: center;
	padding: 20px 0;
	flex-wrap: wrap;
}



/* Media query pour les écrans de plus de 800px */
@media (min-width: 800px) {
	.offres-display {
		justify-content: left;
	}
}

.details_offre_mobile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.details_offre_mobile table {
	width: 100%;
	max-width: 600px; /* Largeur maximale de la table */
	margin: auto;
	border-collapse: collapse;
	background-color: var(--color-background);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	text-align: center;
	border: #36D673;
	border-radius: 2px;
	table-layout: fixed;
}

.details_offre_mobile td, .details_offre_mobile th {
	padding: 10px;
	border-right: 2px solid #36D673; /* Couleur de la ligne de séparation */
}

.details_offre_mobile.professionnel td, .details_offre_mobile.professionnel th {
	padding: 10px;
	border-right: 2px solid var(--color-accent-pro); /* Couleur de la ligne de séparation */
}

.details_offre_mobile td:last-child, .details_offre_mobile th:last-child {
	border-right: none; /* Supprime la ligne de séparation pour la dernière colonne */
}

.details_offre_mobile td {
	white-space: nowrap; 
}

.adresse-detail {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.offre-resume-detail {
	font-size: 20px;
	color: var(--color-accent);
	margin-bottom: 10px;
	font-weight: bold;
}

.offre-description {
	margin: 20px 0;
	padding: 10px;
	background-color: var(--color-background);
	border-left: 5px solid var(--color-primary);
}

.offre-description h2 {
	font-size: 1.5em;
	font-weight: bold;
	color: var(--color-primary);
	margin-bottom: 10px;
}

.offre-description p {
	font-size: 1em;
	color: var(--color-text);
	line-height: 1.5;
}
.offre-description.professionnel {
	border-left: 5px solid var(--color-primary-pro);
}
.detail-btn-container {
	text-align: center; /* Centre le contenu du conteneur */
	margin: 20px 0; /* Ajoute un peu d'espace en haut et en bas */
	text-decoration: none;
}

.detail-offer-btn {
	background-color: var(--color-primary);
	color: var(--color-text);
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

.detail-offer-btn:hover {
    background-color: var(--color-primary-hover); /* Changement de couleur au survol */
}

.detail-offer-btn.professionnel{
	background-color: var(--color-primary-pro);

}

.detail-offer-btn.professionnel:hover{
	background-color: var(--color-primary-hover-pro);

}


/*** DROPDOWN ***/
/* Assure-toi que le parent a une position relative */
.dropdown {
    position: relative;
    width: 70%;
}

/* Style du bouton du dropdown */
.dropdown-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #040316;
    border-radius: 10px;
    background-color: var(--color-background);
    color: #040316;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-align: center; /* Aligner le texte à gauche */
}

/* Style du menu déroulant */
.dropdown-content {
    display: none;
    position: absolute; /* position absolue pour se positionner par rapport au parent */
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
    z-index: 2; /* on augmente le z-index pour s'assurer qu'il soit au-dessus des autres éléments de la page*/
    border-radius: 5px;
    text-align: left; /* Aligner les options à gauche */
	transition: opacity 0.3s ease, transform 5s ease;
}

/* Style des options du menu déroulant */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 16px;
    background-color: white;
    border-bottom: 1px solid white;
    text-align: left; /* Aligner les textes des options à gauche */
}

/* Style au survol des options */
.dropdown-content a:hover {
	color: var(--color-primary-hover-pro);
	font-size: large;
}

/* Effet de survol sur le bouton */
.dropdown:hover .dropdown-btn {
    border-color: var(--color-primary-hover-pro);
    background-color: white; /* Changement de couleur de fond */
    outline: none;
}

/*Page création compte pro*/

/* Global body styles */
.body-creer-pro {
    font-family: Arial, sans-serif;
    background-color: #f5f5e9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px; /* Augmenté pour un espacement plus confortable */
}

/* Form container styles */
.form-container {
    width: 100%;
    max-width: 600px; /* Augmenté pour plus de largeur */
    background-color: #f5f5e9;
    text-align: center;
}

.form-container h1 {
    font-size: 2em; /* Augmenté pour une meilleure visibilité */
    margin-bottom: 20px;
}

.form-container label{
	font-size: 1.2em;
	margin-left: 10px;
}

.subtitle {
    font-style: italic;
    color: #666;
    margin-bottom: 30px;
    font-size: 1.2em; /* Agrandi */
}

.form-section h2 {
    font-size: 1.5em; /* Augmenté */
    margin-bottom: 25px;
    text-align: left;
}

.form-creer-pro {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Augmenté pour espacer les champs */
}

/* Input group styles */
.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    padding: 15px; /* Agrandi */
    border: 1px solid #ccc;
    border-radius: 8px; /* Plus arrondi */
    font-size: 1.2em; /* Augmenté pour des champs plus grands */
    color: #333;
}

.input-container input::placeholder {
    color: #aaa;
}

.input-container .required {
    position: absolute;
    top: 30%;
	right: 1px;
    transform: translateY(-50%);
    color: var(--color-accent);
    font-size: 1.5em; /* Agrandi */
    font-weight: bold;
}

/*Pour Etape 2*/
.input-container2 {
    position: relative;
}

.input-container2 input {
    width: 95%;
	margin-right: 7em;
    padding: 15px; /* Agrandi */
    border: 1px solid #ccc;
    border-radius: 8px; /* Plus arrondi */
    font-size: 1.2em; /* Augmenté pour des champs plus grands */
    color: #333;
}

.input-container2 input::placeholder {
    color: #aaa;
}

.input-container2 .required {
    position: absolute;
    top: 30%;
	right: 1px;
    transform: translateY(-50%);
    color: var(--color-accent);
    font-size: 1.5em; /* Agrandi */
	font-weight: bold;
}

/* Input row styles */
.input-row {
    display: flex;
    gap: 40px; /* Augmenté pour espacer les colonnes */
}

.input-row .input-group {
    flex: 1;
}

/* Container pour les boutons radio */
.input-row2 {
    display: flex;
    gap: 20px; /* Espacement entre les options */
	justify-content: center;
}

/* Styles pour le label contenant le bouton radio */
.input-row2 label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    color: #333;
	margin-top: 1em;
}

/* Effet au survol */
.input-row2 label:hover {
    background-color: #e0e0e0;
    border-color: var(--color-accent);
}

/* Cacher l'input radio */
.input-row2 input[type="radio"] {
    display: none;
}

/* Style pour le bouton sélectionné */
.input-row2 input[type="radio"]:checked + label {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.warning {
    background-color: #fffbcc;
    border: 1px solid #ffeb3b;
	padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    color: #555;
	margin-left: 1em;
}


/* Button styles */
.submit-btn {
    border-color: #040316;
    color: black;
    font-size: 1.2em; /* Augmenté */
    padding: 15px; /* Agrandi */
	margin: 15px 0 20px 20px;
	width: 88%;
	border-radius: 20px;
	background-color: var(--color-background);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	/* Ombre */
	font-size: 20px;
}

.submit-btn:hover {
	background-color: #040316;
	color: var(--color-background);
}

.submit-btn2 {
    border-color: #040316;
    color: black;
    font-size: 1.2em; /* Augmenté */
    padding: 15px; /* Agrandi */
	margin-left: 5px;
    margin-top: 15px;
	width: 90%;
	border-radius: 20px;
	background-color: var(--color-background);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	/* Ombre */
	font-size: 20px;
}

.submit-btn2:hover {
	background-color: #040316;
	color: var(--color-background);
}
.valide-groupe{
	background-color: var(--color-accent);
	border-radius: 20px;
	margin: 20px 20px;
	width: 100%;
}

.valide-groupe2{
	background-color: var(--color-accent);
	border-radius: 20px;
	width: 102%;
	color: white;
	font-size: 1.2em;
}

.valide-groupe3{
	border: solid 2px var(--color-delete-hover);
	background-color: var(--color-accent-hover);
	border-radius: 20px;
	width: 105%;
	text-align: left;
	color: white;
	font-size: 1.2em;
}

.error {
	color: var(--color-delete);
}

.confirmation {
    background-color: #baf3c1;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.terms {
    font-size: 0.9em;
    color: #040316;
    text-align: center;
	color: white;
	font-size: 1.2em;
}

.terms ul {
	list-style-type: none;
    list-style: disc;
    margin-left: 20px;
}

.terms li{
	color: #040316;
	list-style-type: none;
}

/* Almost done text */
.almost-done {
    margin-top: 15px;
	margin-left: 20px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

/* Back arrow styles */
.back-arrow {
    position: absolute;
    top: 20px; /* Ajusté */
    left: 20px; /* Ajusté */
    z-index: 2;
}

.back-arrow a {
    text-decoration: none;
    font-size: 35px; /* Augmenté pour une flèche plus grande */
    color: #040316;
    cursor: pointer;
}

.infoprix {
    position: fixed;
	top: 8em; 
    right: 20px; 
    width: 300px; 
	margin-left: auto;
	padding: 15px;
	background-color: var(--color-background); /* Couleur de fond douce pour le contraste */
    border: 1px solid var(--color-border); /* Bordure légère */
    border-radius: 8px; /* Coins arrondis pour un style moderne */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Légère ombre portée */
    font-family: Arial, sans-serif;
    font-size: 14px; /* Taille de police lisible */
    color: var(--color-text); /* Texte sombre pour un bon contraste */
    z-index: 1000; /* S'assurer que l'élément reste au-dessus des autres contenus */
}

.infoprix h2 {
    font-size: 20px; /* Taille légèrement plus grande pour les titres */
    margin-bottom: 10px; /* Espacement sous les titres */
    color: var(--color-text); /* Couleur distincte pour attirer l'attention */
}

.infoprix p, .infoprix li {
    margin: 5px 0; /* Espacement vertical entre les paragraphes et les éléments de liste */
}

.infoprix ul {
    list-style: none; /* Supprime les puces */
    padding: 0; /* Supprime le retrait par défaut */
}

.infoprix li {
    padding: 5px 0; /* Espacement interne pour chaque élément */
    border-bottom: 1px dashed var(--color-border); /* Ligne de séparation discrète entre les éléments */
}

.infoprix li:last-child {
    border-bottom: none; /* Supprime la bordure pour le dernier élément */
}

#prixOffreHT, #prixOffreTTC {
    font-weight: bold; /* Texte en gras pour attirer l'attention */
    color: var(--color-accent-pro); /* Couleur verte pour une connotation positive */
}


/* Responsive Design */
@media (max-width: 600px) {
    .form-container {
        padding: 20px;
    }

    .input-row {
        flex-direction: column;
        gap: 20px;
    }

    .submit-btn {
        font-size: 1em; /* Réduit légèrement pour s'adapter */
    }
}

/* fin page creer pro*/

.add-avis-btn{
	display: flex;
	width: 80%;
	justify-content: center;
	border: var(--color-primary) solid 2px;
	border-radius: 10px;
}

.add-avis-btn:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.add-avis-btn img{
	padding: 10px 0 10px 0;
	width: 30px;
	height: 30px;
	transition: fill 3s ease; /* Transition douce */
}

#map {
	width: 100%; /* Largeur de la carte */
	height: 250px;
}

.container-details-offre {
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin: 0;
	width: 100%;
}


.details-offre {
	flex: 3; /* Partie des détails de l'offre */
	padding-left : 200px;
	padding: 10px;
}

.avis-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	width: 100%; /* Ajustez à la taille désirée */
	padding-left: 1em; /* Ajoutez un padding à gauche */
}

.avis-offre {
	flex: 1; /* Partie des avis */
	padding: 20px 100px 20px 20px;
	border-left: 1px solid #ccc; /* Ligne séparatrice */
}

.avis{
	border: 1px solid #ccc;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.avis_m{
	border: 1px solid var(--color-primary);
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.pdp-name-date {
	display: flex;
	align-items: center;
}

.pdp-name-date-pro {
	display: flex;
	align-items: center;
	margin-bottom: 0px;
}

.pdp-name-date strong {
	margin-left : 10px;
}

.pdp-name-date-pro strong {
	margin-left : 10px;
}

.pdp-avis{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.titre-moy {
	display: flex;
	width: 100%;
	gap : 3.5px;
	padding-left: 10px;
}

.titre-moy p {
	position: relative;
	left: 5px;
	top: -10px; /* Ajuste cette valeur pour peaufiner l'alignement */
}

.titre-moy-index {
	display: flex;
	width: 200%;
	gap : 3.5px;
	padding-left: -10px;
}

.titre-moy-index p {
	position: relative;
	top: -10px; /* Ajuste cette valeur pour peaufiner l'alignement */
	color: #040316;
}

.texte_note_etoiles_container{
	display: flex;
	flex-direction: row;
	padding-top: 2px;
}

.nombre_note{
	left: 3px;
	bottom: 5px;
}

@font-face {
	font-family: 'firasans';
	src: url('./font/firasans-regular-webfont.woff2') format('woff2');
}

.img-aj-avis {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.nom-aj-avis{
	margin-left: 20px;
	font-size: 2em;
}

#addAvisForm{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}



.label-stars{
	/* ajouter une transition smooth */
	transition: background-color 0.3s ease;
}

.label-stars:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.bouton-supprimer-avis {
	background-color: var(--color-delete);
	color: var(--color-background);
	text-decoration: none;
	border: none;
	border-radius: 10px;
	padding: 10px;
	font-size: 15px;
	cursor: pointer;
	margin-bottom: 10px;
	transition: all 0.3s ease;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.bouton-supprimer-avis:hover {
	background-color: var(--color-delete-hover);
}

.suppr-avis{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*Média queary*/

/*page connexion*/

@media screen and (max-width: 360px) {
    /* Corps de la page */
    body.cp_mobile {
        padding: 15px;
        font-size: 14px; /* Taille de police légèrement augmentée */
    }

    /* Grand titre */
    h1.cp_mobile {
        font-size: 26px; /* Titre plus grand mais toujours adapté */
    }

    /* Champs de saisie */
    section.cp_mobile input.cp_mobile {
        width: 95%; /* Utilise presque toute la largeur de l'écran */
        height: 48px; /* Augmenter légèrement la hauteur pour plus de confort */
        font-size: 15px; /* Texte plus grand */
        border-radius: 12px; /* Coins légèrement plus arrondis */
    }

    /* Bouton submit */
    .cp_mobile_btn {
        width: 95%; /* Adapte à la largeur de l'écran */
        height: 60px; /* Bouton légèrement plus haut */
        font-size: 18px; /* Texte plus grand */
        margin: 20px auto; /* Centrer et réduire les marges */
    }

    /* Case à cocher */
    .cp_mobile_chkbox {
        width: 22px; /* Légèrement plus grande */
        height: 22px;
    }

    /* Messages d'erreurs */
    p.cp_mobile_erreur {
        font-size: 14px; /* Texte plus grand et lisible */
    }

    /* Alignement des liens et boutons */
    .cp_mobile a,
    .offer-btn {
        font-size: 14px; /* Texte légèrement plus grand */
        padding: 8px; /* Espacement suffisant autour */
        text-align: center;
    }

    /* Logo */
    /* img {
        width: 200px;
        height: auto;
    } */

    /* Liens hypertextes */
    a.cp_mobile {
        font-size: 14px; /* Texte légèrement plus grand */
    }

    /* Section regroupant les champs */
    section.cp_mobile {
        margin-top: 15px;
        margin-bottom: 15px;
    }


}

@media screen and (max-width: 600px){
	.carousel-slide{
		overflow-x: scroll; /* Active le défilement horizontal */
        scroll-behavior: smooth; /* Défilement fluide */
        -webkit-overflow-scrolling: touch;
		
	}

	.carousel-btn {
		display: none;
	}
}


/*page connexion*/

/* Responsive Design pour les écrans de largeur <= 360px */
@media (max-width: 360px) {
    .form-container {
        width: 100%;
        padding: 10px; /* Réduction des marges */
    }

    h1, h2 {
        font-size: 1.2em; /* Réduction des titres */
    }

    .form-creer-pro {
        gap: 15px; /* Réduction de l'espacement entre les champs */
    }

    .input-row {
        flex-direction: column; /* Alignement en colonne */
        gap: 15px; /* Moins d'espace entre les champs */
    }

    .input-container input {
        font-size: 1em; /* Réduction de la taille du texte */
        padding: 10px; /* Réduction de l'intérieur des champs */
    }

    .submit-btn {
        font-size: 1em; /* Réduction pour s'adapter à l'écran */
        padding: 10px;
        width: 100%; /* Prend toute la largeur */
        margin: 10px 0; /* Ajustement des marges */
    }

    .almost-done {
        font-size: 0.8em; /* Réduction du texte */
    }

    .back-arrow a {
        font-size: 25px; /* Réduction de la taille de la flèche */
    }

    .terms {
        font-size: 0.8em; /* Réduction pour une meilleure lisibilité */
    }

    .terms ul {
        margin-left: 10px; /* Réduction des marges internes */
    }

    .valide-groupe, .valide-groupe2 {
        width: 100%; /* Ajustement à la largeur de l'écran */
    }

    .confirmation {
        font-size: 1em; /* Ajustement de la taille pour mobiles */
        padding: 8px;
    }

    .submit-btn2 {
        padding: 10px;
        font-size: 1em; /* Ajustement pour écran étroit */
    }
}


.boutons-haut-offre{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 50px;
	text-decoration: none;
}

.bouton-modifier-offre a {
	text-decoration:none;
	color: var(--color-background);
	font-size: 1em;
}

.boutons-bas-offre{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.carousel-container {
    position: relative;
    overflow: hidden; /* Cacher la partie débordante */
    width: 100%; /* Ajustez la largeur du conteneur */
    display: flex;
    align-items: center;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Animation fluide */
    width: 100%;
}

.carousel-slide {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px; /* Espacement entre les cartes */
	margin: 20px auto;
}



.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    color: #fff;
    border: none;
	font-size: 25px;
    padding: 10px;
    cursor: pointer;
	width: 50px;
	height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 50%;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 30px;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-btn.hidden {
    display: none;
}

.textarea-avis {
	width: 90%;
	padding: 10px;
	margin: 0px;
	border: 1px solid #040316;
	border-radius: 5px;
	font-size: 1em;
	resize: none;
}

.scorePouce {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.scorePouce a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	text-decoration: none;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	color: #040316;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.scorePouce a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.scorePouce img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}


.avis_stars_score {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.avis_stars_score > :nth-child(6) {
	margin-left: auto;
	margin-right: 12px;
}



/*==================
 Page mes_infos.php
==================*/


	.mes_infos_main {
		background-color: #F2F1E9;
		display: flex;
		/*flex-direction: row;*/
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: 40px;
	}

	/* Zone gauche de la page (du main) */
	.mes_infos_main_zone_gauche {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-left: 5%;
		width: 60%;
		padding: 20px;
	}

	/* Zone droite de la page (du main) */
	.mes_infos_main_zone_droite {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		box-sizing: border-box;
		margin: 40px;
		width: 30%;
		min-width: 200px;
	}

	/* On montre à l'utilisateur sur quelle page il se trouve */
	#mes_infos_lien_page{
		background-color: #36D673;
	}

	/*======================
		Style des boutons-liens 
		======================*/

	.mes_infos_liens-boutons {
		width: 90%;
		padding: 15px 15px;
		color: black;
		text-decoration: none;
		font-size: 16px;
		border-radius: 5px;
		text-align: center;
		transition: background-color 0.3s ease;
		background-color: #F2F1E9;
		margin: 10px 0px 10px 0px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		flex-grow: 1;
		min-width: 200px;
	}

	.mes_infos_liens-boutons.professionnel{
		border: 1px solid var(--color-primary-pro);
	}

	.mes_infos_liens-boutons:hover {
		color: inherit;
		background-color: #36D673;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
	}

	.mes_infos_liens-boutons.professionnel:hover{
		background-color: var(--color-primary-hover-pro);
	}

	/*===================================================================================
		Style du conteneur central pour la modification des informations de l'utilisateur 
		===================================================================================*/

	.mes_infos_titre{
		margin-bottom: 30px;
		text-decoration: none;
	}

	.mes_infos_conteneur {
		width: 90%;
		border-radius: 10px;
		
		text-align: center;
		padding: 0;
	}

	.mes_infos_form label {
		font-size: 14px;
		margin-bottom: 5px;
		text-align: left;
	}

	.mes_infos_form input {
		width: 100%;
		padding: 10px;
		border: none;
		border-radius: 5px;
		background-color: #F2F1E9;
		border: 1px solid #31CEA6;
		font-size: 16px;
		box-sizing: border-box;
		color: black;
	}

	.mes_infos_form.professionnel input{
		border: 1px solid var(--color-accent-pro);
	}

	.mes_infos_form input:focus {
		outline: none;
	}

	#mes_infos_toggleButton {
		font-size: 16px;
		width: 80%;
		border-radius: 5px;
		border: 1px solid #a5d6a7;
		color: black;
		cursor: pointer;
		margin-top: 40px;     
	}

	#mes_infos_toggleButton.professionnel {
		border: 1px solid var(--color-primary-pro);
		background-color: var(--color-primary-pro);
	}

	#mes_infos_toggleButton:hover {
		background-color: #36D673;
	}

	#mes_infos_toggleButton.professionnel:hover {
		border: 1px solid var(--color-primary-hover-pro);
	}

	/* Style des lignes du conteneur */
	.mes_infos_ligne {
		display: flex;
		flex-direction: row;
		justify-content: center;
		max-width: none;
	}

	/* Style des colonnes du conteneur */
	.mes_infos_colonne {
		display: flex;
		flex-direction: column;
		margin: 15px;        
		flex: 1;   
	}

	/* Styles particuliers */
	#MI_colonne_champRue, #MI_colonne_champTel, #MI_colonne_champNumsiren, #MI_colonne_champCP{
		flex: 0;
	}

	#MI_champRue{
		width: 100px;
	}

	#MI_champTel, #MI_champNumSiren, #MI_champCP{
		width: 200px;
	}

@media (max-width: 1200px){

	.mes_infos_ligne {
		flex-direction: column;
	}

	.mes_infos_main_zone_gauche{
		margin: 0;
	}

	.mes_infos_liens-boutons {
		font-size: 15px;
		padding: 20px 20px;
		width: 100%;
	}
}

@media (max-width: 700px){

	.mes_infos_main{
		flex-direction: column;
	}

	.mes_infos_conteneur{
		width: 100%;
	}

	.mes_infos_form{
		width: 100%;
	}

	.mes_infos_main_zone_gauche{
		width: 90%;
	}

	.mes_infos_main_zone_droite{
		width: 90%;
	}

	.mes_infos_lignes{
		width: 100%;
	}

	.mes_infos_colonnes{
		margin: 30px 0 30px 0;
	}

	.mes_infos_liens-boutons {
		font-size: 15px;
		padding: 20px 20px;
		width: 100%;
	}
}

/*******************
Page mon_compte.php
*******************/

mc_main {
	background-color: #F2F1E9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.image-edit-btn {
	display: inline-block;
	position: relative;
}

.edit-btn {
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 0;
}

/* Style de base pour la modale d'avis */
.modal_avis {
    display: none; /* La modale est cachée par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_avis-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
}

.close_avis {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_avis:hover,
.close_avis:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.container_pdp-name-date_options{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.form_avis_signalement{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dropdown-signalement{
	display: flex;
	justify-content: center;
	background-color: white;
	padding-left: 10px;
	font-size: 1em;
	width: 70%;
    padding: 15px; /* Agrandi */
    border: 1px solid #040316;
    border-radius: 8px; /* Plus arrondi */
    color: #333;
}

input[type="file"] {
	margin-top: 20px;
}

.modal-footer button {
	margin-top: 15px;
}

/* CSS pour le bloc central des boutons-liens */
.p-moncompte {
	font-size: 20px;
	margin: auto auto 5px auto;
}

#afficher_cat{
	font-size: 15px;
	margin: 0px auto 25px auto;
}

/* Style des boutons-liens */
.liens-boutons {
	width: 100%;
	padding: 10px 20px;
	color: black;
	text-decoration: none;
	font-size: 20px;
	border-radius: 5px;
	text-align: center;
	transition: background-color 0.3s ease;
	background-color: #F2F1E9;
	border: 1px solid #36D673;
	margin: 10px 20px 10px 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	flex-grow: 1;
}

.liens-boutons.professionnel {
	border: 1px solid var(--color-primary-hover-pro);
	width: 80%;
}

.liens-boutons.professionnel:hover {
	background-color: var(--color-primary-pro);
}

.liens-boutons:visited {
	color: inherit;
}

.liens-boutons:hover {
	color: inherit;
	background-color: #36D673;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

/* Classes CSS concernant la disposition du conteneur et des ses éléments */
.creer_ligne {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.creer_colonne {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;  
	width: 100%;
}

.conteneur-boutons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	min-width: 500px;
	margin: 20px;  
}

.conteneur-gauche{
	margin: 0 10px 0 0;
}

.conteneur-droit{
	margin: 0 0 0 10px;
}

@media (max-width: 1000px){

	p{
		font-size: 15px;
	}

	#afficher_cat{
		font-size: 10px;
	}

	h2{
		font-size: 20px;
	}

	.creer_ligne {
		flex-direction: column;
	}

	.creer_colonne {
		margin: 0;  
	}

	.conteneur-gauche{
		margin: 0;
	}

	.conteneur-droit{
		margin: 0;
	}

	.liens-boutons {

		font-size: 15px;
		padding: 20px 20px;
	}

	.conteneur-boutons {
		min-width: 300px;
	}
}

/* Style pour la modale d'upload d'image */
.imageModal {
    display: none; /* Masquer la modale par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
}

/* Contenu de la modale */
.image-modal-content {
	justify-content: center;
	align-items: center;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
	height: 25%;
    width: 30%;
    max-width: 500px; /* Largeur maximale */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content-btn{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

/* Bouton de fermeture */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
}

/* Pied de la modale */
.modal-footer {
    margin-top: 20px;
    text-align: right;
}

.container-repondre-avis{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 0px;
}

.bouton-repondre-avis {
	/* background-color: var(--color-primary-pro); */
	color: var(--color-text);
	border: none;
	border-radius: 10px;
	padding: 10px 5px 10px 10px;
	font-size: 15px;
	cursor: pointer;
	/* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */
	transition: all 0.3s ease;
	margin: 10px 0px 5px 0px;
	text-decoration: none;
	width: 100px;
	display: flex;
	justify-content: center;
}

.bouton-repondre-avis:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.bouton-repondre-avis img{
	width: 15px;
	height: 15px;
	margin-left: 5px;
}

.bouton-envoyer-reponse {
	background-color: var(--color-primary-pro);
	color: var(--color-background);
	border: none;
	border-radius: 10px;
	padding: 10px;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	margin-top: 10px;
	margin-bottom: 5px;
	text-decoration: none;
	width: 100px;
	display: flex;
	justify-content: center;
}

.bouton-envoyer-reponse:hover {
	background-color: var(--color-primary-hover-pro);
}

.reply-form{
	display: none;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0px;
}

/* pdp user header */
.header-pdp-user{
	width:50px; 
	height:50px;
	border-radius:50%;
	transition: all 0.33 ease;
}

.header-pdp-user:hover{
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.text-reponse-pro{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 20px;
}

.text-reponse-pro p{
	margin-top: 17px;
	margin-left: 10px;
}

.title-reponse{
	margin-bottom: 0px;
}

/*	PAGE LIEN FOOTER **/

.corps-footer {
	text-align: left;
	align-items: center;
	margin: 0 20% ;
}

.list-footer li:hover a {
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.1);
}

.container-facture{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.erreur404{
	height: 19%;
	width: 19%;
}

.container-category-ouvert{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.container-category{
	display: flex;
	flex-direction: column;
}

.container-category label{
	margin-bottom: 10px;
}

.container-ouvert{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -20px;
}

/* Style pour le switch */
.switch {
	position: relative;
	display: none;
	width: 40px;
	height: 20px;
	top: 15px;
	right: 2px;
}

/* Cacher le checkbox original */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* Slider du switch */
.sliderswitch {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: -5px;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
	border-radius: 34px;
}

.sliderswitch:before {
	position: absolute;
	content: "";
	height: 11px;
	width: 11px;
	left: 4px;
	bottom: 5px;
	background-color: white;
	transition: .4s;
	border-radius: 50%;
}

/* Quand le checkbox est coché, changer la couleur du slider */
input:checked + .sliderswitch {
	background-color: var(--color-primary);
}

input:checked + .sliderswitch.pro {
	background-color: var(--color-primary-pro);
}

/* Déplacer le bouton quand le checkbox est coché */
input:checked + .sliderswitch:before {
	transform: translateX(26px);
}

.textedateouvert{
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* PAGE TOUS LES AVIS DES OFFRES */

.AMO_main{
	background-color: #F2F1E9;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;   
	align-items: flex-start;
}

.AMO_offre{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	width: 45%;

	border: 1px solid black;
	border-radius: 20px;
	flex-grow: 1;

}

/* Avis */

.AMO_titre-moy{
	display: flex;
	justify-content: center;
	width: 100%;
}

.AMO_avis-container{
	width: 90%;

}

.AMO_avis{
	width: 100%;
}

/* page sécurité **/

/* Conteneur principal */
.securite_div {
    width: 100%;
    max-width: 500px; /* Largeur maximale pour un affichage compact */
    margin: 20px auto; /* Centrer sur la page */
    padding: 20px;
    background-color: var(--color-background); /* Couleur de fond douce */
    border: 1px solid var(--color-border); /* Bordure légère */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}


/* Titre */
.securite_div h2 {
    text-align: center;
    font-size: 20px;
    color: var(--color-text);
    margin-bottom: 20px;
}

/* Formulaire */
.securite_div form {
    display: flex;
    flex-direction: column; /* Alignement vertical */
}

/* Étiquettes */
.securite_div label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--color-text);
}

/* Champs de saisie */
.securite_div input[type="password"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

/* Messages d'erreur */
.message-erreur {
    font-size: 12px;
    color: #d9534f; /* Rouge pour les erreurs */
    margin-bottom: 10px;
    display: none; /* Masqué par défaut */
}

/* Bouton */
.securite_div button {
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-align: center;
    transition: background-color 0.3s ease;
}

.securite_div.professionnel button{
	background-color: var(--color-primary-pro);
}

.securite_div.professionnel button:hover{
	background-color: var(--color-primary-hover-pro);
}

.securite_div button:hover {
    background-color: var(--color-primary-hover); /* Couleur légèrement plus sombre au survol */
}

/* Section alerte mot de passe */
.alerte_mdp {
    margin-top: 15px;
    font-size: 12px;
    color: var(--color-text);
    background-color: var(--color-background); /* Couleur de fond douce */
    padding: 10px;
    border-left: 4px solid var(--color-primary);
    border-radius: 4px;
}

.alerte_mdp.professionnel {
	border-left: 4px solid var(--color-primary-pro);
}

/* Floutage de la clé */
.cleapi.floutage p {
    filter: blur(6px); /* Ajoute un effet de flou */
    transition: filter 0.3s ease;
}

.cleapi:not(.floutage) p {
    filter: none; /* Affiche le texte en clair */
}

.report_avis{
	border-radius: 8px;
}

.report_avis:hover{
	background-color: rgba(0, 0, 0, 0.1);
}