/* General reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.creer-offre-main {
    max-width: 360px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.logo img, .user-icon img {
    width: 40px;
    height: 40px;
}

h2 {
    font-size: 1.1em;
    margin: 10px 0;
}

input[type="text"],
input[type="url"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    resize: none;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.category {
    background-color: #a3d1c5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 0.9em;
}

input[type="radio"]:checked + .category {
    background-color: #88b0a2;
}

input[type="radio"] {
    appearance: none; /* Cacher le style par défaut */
    -webkit-appearance: none; /* Pour les navigateurs WebKit */
}

input[type="radio"] + label {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.category:hover {
    background-color: #88b0a2;
}

.price {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.price input {
    flex: 1;
}

.hours {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}

.hours label {
    flex: 1;
}

.hours input {
    flex: 1;
}

.continuous {
    margin-bottom: 15px;
}

.image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #a3d1c5;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

.submit-btn:hover {
    background-color: #555;
}

.type-offre-text {
    text-align: center;

}